@page "/"

<PageTitle>BlazorDocs</PageTitle>

<div class="prose container mx-auto p-8">
    <h1>BlazorDocs</h1>

    <p>
        Create documentation with BlazorDocs. Embed markdown files in your Blazor app and display them as documentation.
    </p>

    <h2>Features</h2>
    <ul>
        <li>Embed markdown files in your Blazor app</li>
        <li>Display markdown files as documentation</li>
    </ul>

    <a href="/docs">View Documentation</a>
</div>